h1,
h2,
h3,
a,
p,
li {
  font-family: "montserrat", sans-serif;
  color: #404040;
}

/* Cabeçalho */
.item-lista-cabecalho a {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #112e61;
  text-decoration: none;
  text-transform: uppercase;
}

/* Seção Hero */

h1 {
  font-size: 35px;
  color: #404040;
  font-weight: 600;
}

#hero-paragrafo {
  font-size: 19px;
}

.button-hero {
  font-family: "montserrat", sans-serif;
  font-size: 24px
  font-weight: 700;
  text-decoration-line: none;
  text-decoration: none;
  background-color: #ff9253;
}

/* Conteúdos Gratuitos */

h2 span {
  color: #7a40be;
}

.gratuitos {
  font-family: "montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  background-color: #aa56e6;
}

h2 {
  font-family: "montserrat", sans-serif;
  font-size: 2.76rem;
  line-height: 1.1;
  color: #404040;
  font-weight: 400;
}

.canais-gratuitos {
  font-family: "montserrat", sans-serif;
  text-decoration: none;
  text-decoration-line: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #000;
}

.background-imagem {
  background-color: #ffaf00;
}

.secao-diferenciais {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #404040;
}

.paragrafos-diferenciais {
  font-family: "montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #404040;
  background-color: #ffffff;
}

#h3-empresas {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404040;
}

h3 a {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #005e88;
  text-decoration-line: none;
  text-decoration: none;
}

#descricao-diferenciais {
  font-family: "montserrat", sans-serif;
  font-size: 1.92rem;
  line-height: 1.3;
  color: #404040;
}

#h3-section-midia {
  font-family: "montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1;
  color: #404040;
}

.button-depoimentos {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
  background-color: #14577f;
}

.midias {
  font-family: "montserrat", sans-serif;
  font-size: 1.92rem;
  line-height: 1.1;
  font-weight: 400;
  color: #404040;
}

.blog {
  font-family: "montserrat", sans-serif;
  font-size: 1.92rem;
  line-height: 1.1;
  font-weight: 400;
  color: #404040;
}

.realce-blog {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #f7a70c;
  text-decoration-line: none;
  text-decoration: none;
}

.titulos-blog {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #404040;
  text-decoration-line: none;
  text-decoration: none;
}
.paragro-blog {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 400;
  color: #404040;
}
